> Part of a series on auto-updating websites using GitHub Actions and GitHub Pages

# Air Quality Updater: Complete dataset copier

In this section we are going to download the [AQI data of major cities from IQAir](https://www.iqair.com/us/world-air-quality-ranking) and save it as a CSV file.

The URL is `https://www.iqair.com/us/world-air-quality-ranking`

This approach is useful if you are looking to **directly copy a full dataset from the web** and use it to update a page or graphic. The alternate would be saving historical data over time, which I'll cover in another video.

In [8]:
# Normally we'd do this...
import requests
from bs4 import BeautifulSoup

# ...but this time we'll just do this!
import pandas as pd

In [16]:
tables = pd.read_html("https://www.iqair.com/us/world-air-quality-ranking")
len(tables)

1

In [17]:
df = tables[0]
df.head()

,Rank,"Major city, country/region","Major city, country/region.1",AQI US,Followers
0,1,NaN,"Delhi, India",314,2.7M followers
1,2,NaN,"Lahore, Pakistan",282,344.2K followers
2,3,NaN,"Karachi, Pakistan",245,57.8K followers
3,4,NaN,"Dhaka, Bangladesh",177,208.6K followers
4,5,NaN,"Kolkata, India",163,1.4M followers

In [18]:
df.columns

Index(['Rank', 'Major city, country/region', 'Major city, country/region.1',
       'AQI US', 'Followers'],
      dtype='object')

In [19]:
df = df.drop(columns=['Major city, country/region'])

In [20]:
df = df.rename(columns={
    'Major city, country/region.1': 'Location'
})
df.head()

   Rank           Location  AQI US         Followers
0     1       Delhi, India     314    2.7M followers
1     2   Lahore, Pakistan     282  344.2K followers
2     3  Karachi, Pakistan     245   57.8K followers
3     4  Dhaka, Bangladesh     177  208.6K followers
4     5     Kolkata, India     163    1.4M followers

In [21]:
df.to_csv("air-quality.csv", index=False)